/* index page */
.heading_title{
    font-size: 1.5em;
}
.heading_list{
    list-style-type: square;
}

/* admin */
.prevSsImg{
    width: 100%;
    height: auto;
}

.prevSsImg img{
    width: 100%;
    height: 100%;
}

/*register page*/
.pw-box{
    position: relative;
}

.ic{
    position: absolute;
    top: 45%;
    right: 1%;
    cursor: pointer;
    color: gray;
}

.register-box{
    width: 80%;
/*    border: 2px solid black;*/
    margin: auto;
    color: black;
}

.strong{
    border-color: green;
}

.weak{
    border-color: red;
}

.weak:focus{
    box-shadow: 0 0 0 0.25rem rgb(255,0,0,0.75);
}

.strong:focus{
    box-shadow: 0 0 0 0.25rem rgba(0,128,0,.25);
}

/*login page*/
.login-box{
    width: 80%;
    margin: auto;
    color: black;
}

.navi-panel{
/*    width: 100%;*/
    height: 500px;
    border: 2px solid red;
    margin: 0;
}

.main-panel{
/*    width: 100%;*/
    height: 500px;
    border: 2px solid blue;
    margin: 0;
}

.icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid red;
}

.adminIcon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid blue;
}

/*create content*/
.tabBtnLink{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.tabPanelBox{
    margin-top: -1px;
    width: 100%;
    overflow: hidden;
}

/*create series*/
.preview_cv{
    width: 300px;
    height: 424px;
    border: 2px solid black;
    overflow: hidden;
}

.preview_cv img{
    width: 300px;
    height: auto;
}

/*add chapters*/
.preview_chap{
    width: 400px;
    height: 600px;
    display: flex;
    border: 2px solid black;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.preview_chap img{
    width: 400px;
    height: auto;
}

/* home page */
.series-cv{
    width: 250px;
    height: 353px;
    overflow: hidden;
}
.series-cv a img{
    width: 100%;
    height: auto;
}
.series-title h4{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* display seires  */
.show-series-cv{
    width: 300px;
    height: 424px;
    overflow: hidden;
}
.show-series-cv img{
    width: 100%;
    height: auto;
}
.display_content{
    width: 100%;
    height: auto;
}
.display_content img{
    width: 100%;
    height: auto;
}
.goTop{
    width: 75px; height: 75px;
    position: fixed;
    right: 35px;
    bottom: 35px;
    display: none;
    justify-content: center;
    align-items: center;
}
.chapListDD{
    max-height: 162px;
    overflow-y: scroll;
}
/* chapter_lock */
.ch-box{
    position: relative;
}
.lock_ic{
    position: absolute;
    top: 15%;
    right: 2%;
    cursor: pointer;
}

/* series_rating */
.rate-container{
    width: auto;
    background-color: #505050;
    border: 1px solid #444;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.rate-container .star-widget input{
    display: none;
}
.star-widget label{
    font-size: 25px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}
.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}
.star-widget input:checked ~ label{
    color: #fd4;
}
input#star5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px rgb(230, 128, 50);
}
.textarea textarea{
    resize: none;
}